<a href="https://colab.research.google.com/github/sandhiyaravi809-cmd/sandhiya/blob/main/untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv("/content/Data[1].csv")

In [ ]:
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [ ]:
print("\nMissing Values in Each Column:\n", df.isnull().sum())

Missing Values in Each Column:
 Country      0
Age          0
Salary       1
Purchased    0
dtype: int64

In [ ]:
df_drop=df.dropna()
print("after deleting missing value\n",df_drop.isnull().sum())

after deleting missing value
 Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

In [ ]:
df_fill_const=df.fillna("unknow")
print("after filling missing value\n",df_fill_const.head())

after filling missing value
    Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0   unknow       Yes

In [ ]:
df_fill_mean=df.fillna(df.mean(numeric_only=True))
print("After filling missing values\n",df_fill_mean.head())

After filling missing values
    Country   Age        Salary Purchased
0   France  44.0  72000.000000        No
1    Spain  27.0  48000.000000       Yes
2  Germany  30.0  54000.000000        No
3    Spain  38.0  61000.000000        No
4  Germany  40.0  63777.777778       Yes

In [ ]:
df["Age"].fillna(df["Age"].mean(), inplace=True)

/tmp/ipython-input-149581262.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(), inplace=True)